%h1 Dealer cards
- dealer_images = show_cards(session[:dealer_cards])
- dealer_images.each do |image|
  %img{:src => "#{image}", :alt => ""}/
- if @dealer_hit
  %a{:href => "/dealer_hit", class: "btn"} Dealer Hit
%h1
  = session[:player]
  cards
- images = show_cards(session[:player_cards])
- images.each do |image|
  %img{:src => "#{image}", :alt => ""}/


- if session[:player_total] < 21 && session[:dealer_turn] == false
  %h3
    = session[:player]
    has a total of
    = session[:player_total]
  %p What would you like to do?
  %form{:action => "/hit", method: "post"}
    %input{:type => "submit", value: "HIT", class: "btn"}/
  %form{:action => "/stay", method: "post"}
    %input{:type => "submit", value: "STAY", class: "btn"}/
-else
  %p Would you like to play again
  %a{:href => "/bet",class: "btn"} YES
  %a{:href => "/game_over",class: "btn"} NO